.form_page{

    background-color: rgb(35, 125, 177);
    box-shadow: 10px 20px 12px rgb(10, 11, 12);
    width: 550px;
    height: 650px;
    padding: 10px;
    border-radius: 20px;
    margin: auto;
    margin-top: 200px;
    
}
.name_form{
    padding: 20px;
}
.name_form input{
    border-radius:10px;
    width: 300px;
    margin-left: 10px;
    font-size: 19px;
}
.name_form label{
    font-size: 20px;
    font-family: 'Times New Roman', Times, serif;
    font-weight: bold;
}
.checkbox_form{
    padding: 20px;
}
.checkbox_form a{
    text-decoration: none;
    color: blue;

}
.submit{
    width: 450px;
    height: 40px;
    text-align: center;
    margin: 40px;
    border-radius: 10px;
    color: white;
    background-color: rgb(201, 31, 31);

}